// Clearfix
.clear:before,
.clear:after {
	content: ' ';
	display: table;
}
.clear:after {
	clear: both;
}

// Main container
.main-content {
	max-width: 1048px;
	margin: 0 auto;
}

body {
    background-color: #F5D76E;
}